DirectoryIndex index.php

RewriteEngine on

RewriteCond $1 !^(index\.php|(.*)\.swf|forums|images|css|downloads|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# added the above. remove if it doesnt work

<FilesMatch ".*">
    Require ip 192.88.134.0/23
    Require ip 185.93.228.0/22
    Require ip 2a02:fe80::/29
    Require ip 66.248.200.0/22
</FilesMatch>

<IfModule mod_headers.c>
     Header set X-Frame-Options "DENY"
     <FilesMatch "\.(appcache|atom|crx|css|cur|eot|f4[abpv]|flv|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|tt[cf]|vcf|vtt|webapp|web[mp]|woff|xml|xpi)$">

         Header unset X-Frame-Options

     </FilesMatch>

 </IfModule>

<IfModule mod_autoindex.c>
    #Options -Indexes
</IfModule>

<FilesMatch "(^#.*#|\.(bak|config|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$">

#

    # Apache < 2.3

    <IfModule !mod_authz_core.c>
       Order allow,deny
        Deny from all
       Satisfy All
   </IfModule>

    # Apache ≥ 2.3
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_headers.c>
     # (1)    (2)

     Header set X-XSS-Protection "1; mode=block"

     <FilesMatch "\.(appcache|atom|crx|css|cur|eot|f4[abpv]|flv|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|tt[cf]|vcf|vtt|webapp|web[mp]|woff|xml|xpi)$">

         Header unset X-XSS-Protection
     </FilesMatch>
 </IfModule>

 <IfModule mod_deflate.c>
    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>
    # Compress all output labeled with one of the following MIME-types
    # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
    #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
    #  as `AddOutputFilterByType` is still in the core directives).
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE application/json
        AddOutputFilterByType DEFLATE application/ld+json
        AddOutputFilterByType DEFLATE application/rss+xml
        AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
        AddOutputFilterByType DEFLATE application/x-font-ttf
        AddOutputFilterByType DEFLATE application/x-web-app-manifest+json
        AddOutputFilterByType DEFLATE application/xhtml+xml
        AddOutputFilterByType DEFLATE application/xml
        AddOutputFilterByType DEFLATE font/opentype
        AddOutputFilterByType DEFLATE image/svg+xml
        AddOutputFilterByType DEFLATE image/x-icon
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE text/plain
        AddOutputFilterByType DEFLATE text/x-component
        AddOutputFilterByType DEFLATE top: ext/xml
    </IfModule>
</IfModule>

<IfModule mod_expires.c>

    ExpiresActive on

    ExpiresDefault                                      "access plus 1 month"

  # CSS

    ExpiresByType text/css                              "access plus 1 year"

  # Data interchange

    ExpiresByType application/json                      "access plus 0 seconds"

    ExpiresByType application/ld+json                   "access plus 0 seconds"

    ExpiresByType application/xml                       "access plus 0 seconds"

    ExpiresByType text/xml                              "access plus 0 seconds"

  # Favicon (cannot be renamed!) and cursor images

    ExpiresByType image/x-icon                          "access plus 1 week"

  # HTML components (HTCs)

    ExpiresByType text/x-component                      "access plus 1 month"

  # HTML

    ExpiresByType text/html                             "access plus 0 seconds"

  # JavaScript

    ExpiresByType application/javascript                "access plus 1 year"

  # Manifest files

    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"

    ExpiresByType text/cache-manifest                   "access plus 0 seconds"

  # Media

    ExpiresByType audio/ogg                             "access plus 1 month"

    ExpiresByType image/gif                             "access plus 1 month"

    ExpiresByType image/jpeg                            "access plus 1 month"

    ExpiresByType image/png                             "access plus 1 month"

    ExpiresByType video/mp4                             "access plus 1 month"

    ExpiresByType video/ogg                             "access plus 1 month"

    ExpiresByType video/webm                            "access plus 1 month"

  # Web feeds

    ExpiresByType application/atom+xml                  "access plus 1 hour"

    ExpiresByType application/rss+xml                   "access plus 1 hour"

  # Web fonts

    ExpiresByType application/font-woff                 "access plus 1 month"

    ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"

    ExpiresByType application/x-font-ttf                "access plus 1 month"

    ExpiresByType font/opentype                         "access plus 1 month"

    ExpiresByType image/svg+xml                         "access plus 1 month"
</IfModule>


<Files 403.shtml>

order allow,deny

allow from all

</Files>

# Block Morrocco
# Free IP2Location Firewall List by Country

# Source: https://www.ip2location.com/free/visitor-blocker

# Last Generated: 27 Nov 2017 03:41:05 GMT
# [Important] Please update this list every month
#
<RequireAll>
Require all granted
Require not ip 11.192.1.0/24
Require not ip 18.244.5.0/24
Require not ip 21.45.48.0/24
Require not ip 24.91.135.0/24
Require not ip 38.86.44.0/24
Require not ip 38.130.97.0/24
Require not ip 41.77.112.0/25
Require not ip 41.77.112.128/28
Require not ip 41.77.112.152/29
Require not ip 41.77.112.160/27
Require not ip 41.77.112.192/27
Require not ip 41.77.112.224/28
Require not ip 41.77.112.248/29
Require not ip 41.77.113.0/24
Require not ip 41.77.114.0/23
Require not ip 41.77.116.0/25
Require not ip 41.77.116.128/26
Require not ip 41.77.116.192/27
Require not ip 41.77.116.224/29
Require not ip 41.77.116.240/28
Require not ip 41.77.117.0/24
Require not ip 41.77.118.0/24
Require not ip 41.77.119.0/28
Require not ip 41.77.119.16/29
Require not ip 41.77.119.32/27
Require not ip 41.77.119.64/26
Require not ip 41.77.119.128/27
Require not ip 41.77.119.160/28
Require not ip 41.77.119.176/29
Require not ip 41.77.119.192/26
Require not ip 41.87.128.0/19
Require not ip 41.92.0.0/17
Require not ip 41.94.0.0/24
Require not ip 41.137.0.0/18
Require not ip 41.137.64.0/20
Require not ip 41.137.80.0/25
Require not ip 41.137.81.0/24
Require not ip 41.137.82.0/23
Require not ip 41.137.84.0/22
Require not ip 41.137.88.0/21
Require not ip 41.137.96.0/19
Require not ip 41.137.128.0/17
Require not ip 41.140.0.0/14
Require not ip 41.205.192.0/19
Require not ip 41.214.128.0/17
Require not ip 41.216.224.0/22
Require not ip 41.238.136.0/24
Require not ip 41.248.0.0/14
Require not ip 45.216.0.0/14
Require not ip 46.18.210.224/28
Require not ip 46.18.210.240/29
Require not ip 46.18.210.248/30
Require not ip 46.18.210.252/31
Require not ip 46.18.210.254/32
Require not ip 46.243.137.0/24
Require not ip 57.84.32.0/20
Require not ip 57.200.200.0/24
Require not ip 62.251.128.0/25
Require not ip 62.251.128.128/27
Require not ip 62.251.128.160/28
Require not ip 62.251.128.176/29
Require not ip 62.251.128.184/30
Require not ip 62.251.128.192/26
Require not ip 62.251.129.0/24
Require not ip 62.251.130.0/23
Require not ip 62.251.132.0/22
Require not ip 62.251.136.0/21
Require not ip 62.251.144.0/20
Require not ip 62.251.160.0/19
Require not ip 62.251.192.0/19
Require not ip 62.251.224.0/21
Require not ip 62.251.232.0/22
Require not ip 62.251.236.0/23
Require not ip 62.251.238.0/25
Require not ip 62.251.238.128/26
Require not ip 62.251.238.192/27
Require not ip 62.251.238.224/28
Require not ip 62.251.238.240/29
Require not ip 62.251.238.248/30
Require not ip 62.251.239.0/24
Require not ip 62.251.240.0/20
Require not ip 65.110.55.70/31
Require not ip 65.110.55.72/29
Require not ip 65.173.1.224/32
Require not ip 66.178.16.152/29
Require not ip 66.178.22.96/29
Require not ip 77.71.205.0/24
Require not ip 80.250.32.0/20
Require not ip 81.192.0.0/18
Require not ip 81.192.64.0/19
Require not ip 81.192.96.0/21
Require not ip 81.192.104.0/23
Require not ip 81.192.106.0/24
Require not ip 81.192.107.0/27
Require not ip 81.192.107.32/28
Require not ip 81.192.107.48/29
Require not ip 81.192.107.56/30
Require not ip 81.192.107.64/26
Require not ip 81.192.107.128/25
Require not ip 81.192.108.0/22
Require not ip 81.192.112.0/20
Require not ip 81.192.128.0/20
Require not ip 81.192.144.0/21
Require not ip 81.192.152.0/22
Require not ip 81.192.156.0/24
Require not ip 81.192.157.0/26
Require not ip 81.192.157.68/30
Require not ip 81.192.157.72/29
Require not ip 81.192.157.80/28
Require not ip 81.192.157.96/27
Require not ip 81.192.157.128/25
Require not ip 81.192.158.0/23
Require not ip 81.192.160.0/20
Require not ip 81.192.176.0/21
Require not ip 81.192.184.0/22
Require not ip 81.192.188.0/23
Require not ip 81.192.191.0/24
Require not ip 81.192.192.0/18
Require not ip 82.135.124.176/28
Require not ip 88.202.6.0/24
Require not ip 88.202.181.0/24
Require not ip 88.202.190.0/24
Require not ip 89.173.211.0/24
Require not ip 90.84.73.0/24
Require not ip 94.125.62.96/28
Require not ip 95.210.243.0/24
Require not ip 105.64.0.0/12
Require not ip 105.128.0.0/13
Require not ip 105.136.0.0/14
Require not ip 105.140.0.0/16
Require not ip 105.141.0.0/18
Require not ip 105.141.65.0/24
Require not ip 105.141.66.0/23
Require not ip 105.141.68.0/22
Require not ip 105.141.72.0/21
Require not ip 105.141.80.0/20
Require not ip 105.141.96.0/19
Require not ip 105.141.128.0/17
Require not ip 105.142.0.0/15
Require not ip 105.144.0.0/14
Require not ip 105.148.0.0/17
Require not ip 105.148.128.0/20
Require not ip 105.148.144.0/21
Require not ip 105.148.152.0/22
Require not ip 105.148.156.0/23
Require not ip 105.148.158.0/24
Require not ip 105.148.160.0/19
Require not ip 105.148.192.0/18
Require not ip 105.149.0.0/16
Require not ip 105.150.0.0/15
Require not ip 105.152.0.0/13
Require not ip 105.188.0.0/14
Require not ip 112.119.250.0/24
Require not ip 121.145.142.0/24
Require not ip 128.2.33.0/24
Require not ip 149.6.42.44/32
Require not ip 149.6.42.46/31
Require not ip 149.254.129.0/24
Require not ip 153.184.130.0/24
Require not ip 154.70.200.0/21
Require not ip 154.144.0.0/13
Require not ip 160.77.0.0/16
Require not ip 160.89.0.0/16
Require not ip 160.90.0.0/16
Require not ip 160.105.0.0/16
Require not ip 160.160.0.0/13
Require not ip 160.168.0.0/16
Require not ip 160.169.0.0/18
Require not ip 160.169.64.0/21
Require not ip 160.169.72.0/22
Require not ip 160.169.76.0/24
Require not ip 160.169.78.0/23
Require not ip 160.169.80.0/20
Require not ip 160.169.96.0/19
Require not ip 160.169.128.0/17
Require not ip 160.170.0.0/15
Require not ip 160.172.0.0/14
Require not ip 160.176.0.0/14
Require not ip 162.168.2.0/24
Require not ip 163.168.1.0/24
Require not ip 169.162.1.0/24
Require not ip 169.255.176.0/22
Require not ip 170.178.144.225/32
Require not ip 170.178.144.226/31
Require not ip 170.178.144.228/31
Require not ip 170.178.144.230/32
Require not ip 171.16.63.0/24
Require not ip 171.234.204.0/24
Require not ip 172.60.192.0/24
Require not ip 173.230.108.0/24
Require not ip 185.7.65.108/30
Require not ip 185.7.65.112/29
Require not ip 185.7.65.120/31
Require not ip 185.7.65.122/32
Require not ip 185.29.166.192/26
Require not ip 185.142.83.1/32
Require not ip 185.142.83.2/31
Require not ip 185.142.83.4/30
Require not ip 185.142.83.8/29
Require not ip 185.142.83.16/29
Require not ip 185.142.83.24/30
Require not ip 185.142.83.28/31
Require not ip 185.142.83.30/32
Require not ip 185.143.4.97/32
Require not ip 185.143.4.98/31
Require not ip 185.143.4.100/30
Require not ip 185.143.4.104/29
Require not ip 185.143.4.112/29
Require not ip 185.143.4.120/30
Require not ip 185.143.4.124/31
Require not ip 185.143.4.126/32
Require not ip 185.143.5.97/32
Require not ip 185.143.5.98/31
Require not ip 185.143.5.100/30
Require not ip 185.143.5.104/29
Require not ip 185.143.5.112/29
Require not ip 185.143.5.120/30
Require not ip 185.143.5.124/31
Require not ip 185.143.5.126/32
Require not ip 185.143.6.97/32
Require not ip 185.143.6.98/31
Require not ip 185.143.6.100/30
Require not ip 185.143.6.104/29
Require not ip 185.143.6.112/29
Require not ip 185.143.6.120/30
Require not ip 185.143.6.124/31
Require not ip 185.143.6.126/32
Require not ip 185.143.7.65/32
Require not ip 185.143.7.66/31
Require not ip 185.143.7.68/30
Require not ip 185.143.7.72/29
Require not ip 185.143.7.80/29
Require not ip 185.143.7.88/30
Require not ip 185.143.7.92/31
Require not ip 185.143.7.94/32
Require not ip 185.153.112.0/29
Require not ip 186.92.173.0/24
Require not ip 186.163.1.0/24
Require not ip 186.189.1.0/24
Require not ip 193.188.7.0/24
Require not ip 193.194.1.0/24
Require not ip 193.194.2.0/23
Require not ip 193.194.4.0/23
Require not ip 193.194.32.0/19
Require not ip 193.240.150.240/29
Require not ip 194.6.224.0/24
Require not ip 194.170.148.0/24
Require not ip 194.204.192.0/22
Require not ip 194.204.196.0/23
Require not ip 194.204.198.0/25
Require not ip 194.204.198.128/26
Require not ip 194.204.198.208/28
Require not ip 194.204.198.224/27
Require not ip 194.204.200.0/21
Require not ip 194.204.208.0/20
Require not ip 194.204.224.0/23
Require not ip 194.204.226.0/24
Require not ip 194.204.227.0/25
Require not ip 194.204.228.0/24
Require not ip 194.204.229.0/26
Require not ip 194.204.229.128/25
Require not ip 194.204.230.0/23
Require not ip 194.204.232.0/21
Require not ip 194.204.240.0/23
Require not ip 194.204.242.0/24
Require not ip 194.204.243.64/26
Require not ip 194.204.243.128/25
Require not ip 194.204.244.0/23
Require not ip 194.204.246.0/24
Require not ip 194.204.247.0/25
Require not ip 194.204.247.128/26
Require not ip 194.204.248.64/26
Require not ip 194.204.248.128/25
Require not ip 194.204.249.0/24
Require not ip 194.204.250.0/23
Require not ip 194.204.252.0/25
Require not ip 194.204.253.0/25
Require not ip 194.204.254.16/28
Require not ip 194.204.254.64/26
Require not ip 194.204.254.128/25
Require not ip 194.204.255.0/24
Require not ip 195.76.182.0/28
Require not ip 196.2.80.0/20
Require not ip 196.12.192.0/18
Require not ip 196.13.108.0/24
Require not ip 196.32.216.0/21
Require not ip 196.43.236.0/24
Require not ip 196.61.232.0/21
Require not ip 196.64.0.0/11
Require not ip 196.112.0.0/13
Require not ip 196.120.0.0/14
Require not ip 196.124.0.0/15
Require not ip 196.126.0.0/24
Require not ip 196.126.2.0/23
Require not ip 196.126.4.0/22
Require not ip 196.126.8.0/21
Require not ip 196.126.16.0/20
Require not ip 196.126.32.0/19
Require not ip 196.126.64.0/18
Require not ip 196.126.128.0/17
Require not ip 196.127.0.0/16
Require not ip 196.200.128.0/18
Require not ip 196.200.240.0/20
Require not ip 196.206.0.0/16
Require not ip 196.217.0.0/16
Require not ip 196.223.176.0/20
Require not ip 197.128.0.0/15
Require not ip 197.130.0.0/18
Require not ip 197.130.64.0/21
Require not ip 197.130.73.0/24
Require not ip 197.130.74.0/23
Require not ip 197.130.76.0/22
Require not ip 197.130.80.0/20
Require not ip 197.130.96.0/19
Require not ip 197.130.128.0/17
Require not ip 197.131.0.0/16
Require not ip 197.144.0.0/14
Require not ip 197.153.0.0/17
Require not ip 197.153.128.0/22
Require not ip 197.153.133.0/24
Require not ip 197.153.134.0/23
Require not ip 197.153.136.0/21
Require not ip 197.153.144.0/20
Require not ip 197.153.160.0/19
Require not ip 197.153.192.0/18
Require not ip 197.230.0.0/16
Require not ip 197.247.0.0/16
Require not ip 197.253.128.0/17
Require not ip 202.174.133.48/28
Require not ip 202.174.133.128/28
Require not ip 202.174.133.152/29
Require not ip 202.174.133.160/28
Require not ip 202.174.133.200/29
Require not ip 202.174.133.216/29
Require not ip 202.174.133.224/29
Require not ip 210.57.0.0/27
Require not ip 210.57.1.0/27
Require not ip 210.57.2.0/27
Require not ip 210.57.3.0/27
Require not ip 210.176.146.96/27
Require not ip 212.63.170.216/30
Require not ip 212.63.176.58/32
Require not ip 212.217.0.0/21
Require not ip 212.217.8.0/22
Require not ip 212.217.12.0/23
Require not ip 212.217.14.0/25
Require not ip 212.217.14.128/26
Require not ip 212.217.15.0/24
Require not ip 212.217.16.0/22
Require not ip 212.217.20.0/24
Require not ip 212.217.21.0/26
Require not ip 212.217.21.128/25
Require not ip 212.217.22.0/23
Require not ip 212.217.24.0/25
Require not ip 212.217.24.128/26
Require not ip 212.217.24.192/27
Require not ip 212.217.25.0/24
Require not ip 212.217.26.0/23
Require not ip 212.217.28.0/22
Require not ip 212.217.32.0/21
Require not ip 212.217.40.0/24
Require not ip 212.217.41.0/27
Require not ip 212.217.41.32/28
Require not ip 212.217.41.64/26
Require not ip 212.217.41.128/25
Require not ip 212.217.42.0/23
Require not ip 212.217.44.0/22
Require not ip 212.217.48.0/21
Require not ip 212.217.56.0/23
Require not ip 212.217.58.0/24
Require not ip 212.217.59.0/27
Require not ip 212.217.59.64/27
Require not ip 212.217.59.96/28
Require not ip 212.217.59.128/25
Require not ip 212.217.60.0/22
Require not ip 212.217.64.0/20
Require not ip 212.217.80.0/22
Require not ip 212.217.84.0/26
Require not ip 212.217.84.64/27
Require not ip 212.217.84.128/25
Require not ip 212.217.85.0/24
Require not ip 212.217.86.0/24
Require not ip 212.217.87.0/25
Require not ip 212.217.87.159/32
Require not ip 212.217.87.160/27
Require not ip 212.217.87.192/26
Require not ip 212.217.88.0/21
Require not ip 212.217.96.0/19
Require not ip 213.133.72.224/28
Require not ip 213.203.213.42/32
Require not ip 213.206.136.237/32
Require not ip 217.77.243.218/32
</RequireAll>