// out: ../dist/flex-dist.css, compress: true, autoprefixer
.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.top {
  clear: both;
  flex-direction: column;
  height: 2rem;
  width: 100%;
}
header {
  font-family: cursive;
}
.flex-large {
  flex: 2;
  border: 1px solid gray;
  flex-flow: row wrap;

}
.flex-small {
  flex: 1;
  border: 1px solid gray;
}
.anscestry-story {
  width: 80%;
  border: 2px solid mistyrose;

}
