@charset "UTF-8"

/* 3-modules ancestry */

.ancestry
	
	&--container
		+border(2px, solid, $ancestor-border, 10px)

		padding: 20px

	&--ancestryTitle
		font-weight: 400
		font-family: soriasoria
		letter-spacing: 2px 


	&--ancestryContent
		padding: .15em


	&--block
		padding: .5em


	&--ancestryDate
		font-weight: 200
		float: right
