@charset "UTF-8"

/* 3-modules ancestry */

.ancestry
	&--container
		width: 95%
		margin: 20px auto
		padding: 0 2em
		background: transparent
		box-shadow: 10px 10px 1px darken($almond,8%)
		border-top: 1px solid darken($almond,8%)
		border-left: 1px solid darken($almond,8%)
		background-clip: border-box


		+round(10px)

		+tablet
			width: 100%

		+mobile
			width: 100%

		li
			list-style-type: none
			padding-left: 2em

		.grab
			background: $button
			color: #6263B2
			padding: 1em
			margin: 1em
			cursor: pointer

	+butt(10px)

	&--ancestryTitle
		font-weight: 400
		font-family: soriasoria
		letter-spacing: 2px
		padding-left: 1em
		padding-top: 1em
		text-shadow: 1px 0 1px $orange, -1px 0 1px $orange


	&--ancestryContent
		padding: .15em

	&--block
		padding: .5em


	&--ancestryDate
		font-weight: 200
		float: right


.slug
	margin: 0 1em