William Brewster 1566-1644<br>
11th great-grandfather<br>
Jonathan Brewster 1593-1659<br>
Son of William Brewster<br>
Rebecca Brewster 1614-1670<br>
Daughter of Jonathan Brewster<br>
Lydia Redfield 1636-1676<br>
Daughter of Rebecca Brewster<br>
John Bailey 1661-1734<br>
Son of Lydia Redfield<br>
Obadiah Bailey 1693-1767<br>
Son of John Bailey<br>
Temperance Bailey 1719-1809<br>
Daughter of Obadiah Bailey<br>
Levi Sholes 1746-1835<br>
Son of Temperance Bailey<br>
Jonathan Sholes 1766-1826<br>
Son of Levi Sholes<br>
John Cummings Sholes 1793-1859<br>
Son of Jonathan Sholes<br>
Wealthy Sholes 1839-1924<br>
Daughter of John Cummings Sholes<br>
Goldie Grace Reed 1884-1957<br>
Daughter of Wealthy Sholes<br>
Shirley Jean Bostick 1927-2010<br>
Daughter of Goldie Grace Reed<br>
Bradley James VanHorn<br>
You are the son of Shirley Jean Bostick
